
body{background-color: #252a34;}
h1{color: #00fffb}
h2{color: #FF2E63}
hr{color: #EAEAEA;
            border-style: none;
            border-top-style:dotted;
            border-width: 15px;
            width: 30%;}
p{color: #EAEAEA;}